{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
    {% if letter_head and not no_letterhead %}
    <div class="letter-head">{{ letter_head }}</div>
    {% endif %}
    {%- if doc.meta.is_submittable and doc.docstatus==0-%}
    <div class="alert alert-info text-center">
        <h4 style="margin: 0px;">{{ _("PROFORMA") }}</h4></div>
    {%- endif -%}
    {%- if doc.meta.is_submittable and doc.docstatus==2-%}
    <div class="alert alert-danger text-center">
        <h4 style="margin: 0px;">{{ _("CANCELLED") }}</h4></div>
    {%- endif -%}
    {% if max_pages > 1 %}
    <p class="text-right">{{ _("Page #{0} of {1}").format(page_num, max_pages) }}</p>
    {% endif %}
{%- endmacro -%}

<small>
{{ add_header(0,1,doc,letter_head, no_letterhead) }}
<big>
<p class="text-center"><b>{{ _("Sales Invoice") }}</b></p><br>
</big>
<div class="row">        
     <div class="col-xs-6">            
        <div class="row">
            <div class="col-xs-5 text-right"><big><b>Customer Name</b></big></div>
            <div class="col-xs-7 "><big>{{ doc.customer or '' }}</big> </div>
        </div>
        <div class="row">
            <div class="col-xs-5 text-right"><big><b>Billing Address</b></big></div>
            <div class="col-xs-7 "><big>{{ doc.address_display or '' }}</big></div>
        </div>                 
    </div>

    <div class="col-xs-6">
        <div class="row">
            <div class="col-xs-6 text-right"><big><b>Invoice No</b></big></div>
            <div class="col-xs-6 "><big>{{ doc.name or '' }}</big> </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-right"> <big><b>Date</b></big> </div>
            <div class="col-xs-6 "><big>{{ doc.get_formatted("posting_date") or '' }}</big></div>
        </div> 
        <div class="row">
            <div class="col-xs-6 text-right"><big><b>Payment Due Date</b></big></div>
            <div class="col-xs-6 "><big>{{ doc.get_formatted("due_date") or '' }}</big></div>
        </div>    
         {%- if doc.po_no -%}
        <div class="row">
            <div class="col-xs-6 text-right"><big><b>PO No</b></big></div>
            <div class="col-xs-6 "><big>{{ doc.po_no or ''}}</big> </div>
        </div>
         {%- endif -%}
    </div>
            
</div>
        
<br>

<table class="table table-condensed table-hover table-bordered">
        <tr>
            <th>Sr</th>
            <th>Description</th>
            <th class="text-right">Quantity</th>
            <th class="text-right">Rate</th>
            <th class="text-right">Amount</th>
        </tr>
        {%- for row in doc.entries -%}
        <tr>
            <td style="width: 3%;">{{ row.idx }}</td>
            <td style="width: 57%;"><b>{{ row.item_code or '' }} </b><br> 
                 {{ row.description or '' }}  </td>
            <td style="width: 10%; text-align: right;">{{ row.qty }}</td>
            <td style="width: 15%; text-align: right;">
                
                {{ row.get_formatted("rate", doc) or ''}}
            <td style="width: 15%; text-align: right;">{{
                row.get_formatted("amount", doc) or ''}}</td>
        </tr>
        {%- endfor -%}
    </tbody>
</table>
<br>
    
<div class="row">
    <div class="col-xs-6 text-right"></div>
    <div class="col-xs-4 text-right"> <big><b>{{ _("Net Total") }}</b></big></div>
    <div class="col-xs-2 ">
      <big>{{ doc.get_formatted("net_total_export") or '' }}</big>
    </div>
</div>  

{%- for row in doc.other_charges -%}
    {%- if not row.included_in_print_rate -%}
    {%- if row.tax_amount -%}      
<div class="row">
    <div class="col-xs-6 text-right"></div>
    <div class="col-xs-4 text-right"> <big><b> {{ row.description }}</b></big></div>
    <div class="col-xs-2 "><big>{{ row.get_formatted("tax_amount", doc) }}</big></div>
</div> 
    {%- endif -%}
    {%- endif -%}
{%- endfor -%}

{%- if doc.discount_amount -%}
    <div class="row">
         <div class="col-xs-6 text-right"></div>
         <div class="col-xs-4 text-right"> <big><b>{{ _("Discount") }}</b></big></div>
         <div class="col-xs-2 "><big>{{ doc.get_formatted("discount_amount") }}</big></div>
    </div> 
 {%- endif -%}         
           
<div class="row">
    <div class="col-xs-6 text-right"></div>
    <div class="col-xs-4 text-right">
        <big><b>{{ _("Grand Total") }}</b></big>
    </div>
    <div class="col-xs-2 ">
       <big>
       {{ doc.get_formatted("grand_total_export") }}</big>
    </div>
</div>

<div class="row">
 <div class="col-xs-12 text-left">{{ doc.terms or '' }}</div>
</div>
</small>
